<div id="footerAll" class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
            <h3 class="footerTitle">About Unixo</h3>
            <p class="footerText">Unixo is the world's leading brand of hand-painted and personalised sneakers,
                adorne by celebrities and pro artists around the world.
                Discover the ultimate sneaker experience with Unixo.</p>
        </div>

        <div class="col-12 col-md-6 col-lg-2">
            <h3 class="footerTitle">Find us</h3>
            <ul class="linkList">
                <li><i class="fas fa-phone-alt footerIcon"></i> Phone: <a href="tel:+359890136562"
                        class="footerClickable contrast">
                        +359
                        890 136
                        562</a></li>
                <li><i class="fas fa-phone-alt footerIcon"></i> Phone: <a href="tel:+3590892777709"
                        class="footerClickable contrast">
                        +359
                        892 777
                        709</a></li>
                <li><i class="far fa-envelope footerIcon"></i> E-Mail: <a href="mailto:sales@unixo.com"
                        class="footerClickable contrast">
                        sales@unixo.com </a></li>
                <li class="footerIconList">
                    <a href="#" class="fab fa-facebook fa-2x"></a>
                    <a href="#" class="fab fa-facebook-messenger fa-2x"></a>
                    <a href="#" class="fab fa-instagram fa-2x"></a>
                </li>
            </ul>
        </div>

        <div class="col-12 col-md-6 col-lg-2">
            <h3 class="footerTitle">Information</h3>
            <ul class="linkList">
                <li><a href="#" class="footerClickable">About Us</a></li>
                <li><a href="#" class="footerClickable">Contact Us</a></li>
                <li><a href="#" class="footerClickable">Privacy Policy</a></li>
                <li><a href="#" class="footerClickable">Stores and Hours</a></li>
                <li><a href="#" class="footerClickable">Cookie Policy</a></li>
            </ul>
        </div>

        <div class="col-12 col-md-6 col-lg-2">
            <h3 class="footerTitle">Shopping online</h3>
            <ul class="linkList">
                <li><a href="#" class="footerClickable">Prices & Currency</a></li>
                <li><a href="#" class="footerClickable">Order & Payment</a></li>
                <li><a href="#" class="footerClickable">Shipment & Fees</a></li>
                <li><a href="#" class="footerClickable">Return Policy</a></li>
                <li><a href="#" class="footerClickable">Terms & Conditions</a></li>
            </ul>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <h3 class="footerTitle">Newsletter</h3>
            <form action="/newsletter" method="POST" class="formNewsletter needs-validation" novalidate>

                <div class="form-group">
                    <label class="footerText" for="exampleInputEmail1">Subscribe to receive updates, access to
                        exclusive deals, and more.</label>
                    <input type="email" class="footerFormEmail form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Enter your email address" name="emailNewsletter"
                        required>
                </div>


                <button class="buttonSubmit" id="buttonSubmit2" type="submit">
                    <div id="slideSubmit"></div>
                    <span href="#">Subscribe</span>
                </button>
                <!-- 
                <div class="buttonSubmit" id="buttonSubmit2"
                    onclick="document.querySelector('.formNewsletter').submit();">
                    <div id="slideSubmit"></div>
                    <a href="#">Subscribe</a>
                </div> -->


            </form>
        </div>

    </div>

    <div class="credits">
        <p>© 2020 UNIXO®. All Rights Reserved.</p>
        <p>Designed by BlackNeo</p>
    </div>

</div>

<div class="footerHelpPRO"></div>