.carousel-inner img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.themesImg {
  height: 100% !important;
}
  
  .carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}
  
  .carousel-caption h1 {
    font-size: 60px;
    text-shadow: 1px 1px 30px #000;
}
  
  .carousel-caption h3 {
    font-size: 25px;
    width: 100%;
    font-weight: 500;
    text-shadow: 1px 1px 30px #000;
}
  
  .carousel-caption button {
    font-size: 15px;
    margin-top: 15px;
}



@media (min-width: 641px) { 

  .carousel-caption h1 {
      font-size: 300%;
      text-shadow: 1px 1px 30px #000;
  }
  .carousel-caption h3 {
    font-size: 115%;
    font-weight: 500;
    text-shadow: 1px 1px 30px #000;
  }
  .carousel-caption button {
      font-size: 15px;
      margin-top: 15px;
  }

}


@media (min-width: 768px) {
  .carousel-caption h1 {
      font-size: 450%;
      text-shadow: 1px 1px 30px #000;
  }
  .carousel-caption h3 {
    font-size: 155%;
    font-weight: 500;
    text-shadow: 1px 1px 30px #000;
  }
  .carousel-caption button {
      font-size: 15px;
      margin-top: 15px;
  }
}


@media (min-width: 992px) {

}

@media (min-width: 1200px) {
  .carousel-caption h1 {
    font-size: 80px;
    text-shadow: 1px 1px 30px #000;
}
}

/* Buttons */
.button-6 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  /* background: #d6e2e9; */
  background: transparent;
}

.button-6 a {
  position: relative;
  transition: all .45s ease-Out;
  color: white;
  font-size: 12px;
  font-weight: 00;
  letter-spacing: 3px;
  text-decoration: none;
}

.circle3 {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #1B1B1B;
  position: absolute;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}

.button-6:hover .circle3 {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}



.button-6:hover a {
  color: white;
}

.buttonCustom5 {
  display: inline-flex;
  height: 42.5px;
  width: 170px;
  border: 1px solid white;
  margin-top: 17px;
  color: rgb(122, 116, 116);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.buttonCustom5:hover {
  border-color: #1b1b1b;
}