<% layout('layouts/boilerplate')%>

    <div class="row p-0 m-0">
        <div class="col-8 col-md-6 offset-2 offset-md-3 text-center"
            style="    margin-top:190px; margin-bottom: 100px;">


            <img src="/images/error.gif" alt="" class="img-fluid">
            <div class="alert alert-danger" role="alert">
                <h4 class="display-1">
                    Oops.
                </h4>
                <h3 class="alert-heading">
                    <%=err.message%>
                </h3>

                <h5 class="display-4">
                    <%=err.status%>
                </h5>

            </div>
        </div>
    </div>


    <script>
        document.querySelector('.navbar').classList.remove('bg-transparent');
        document.querySelector('.navbar').classList.remove('navbar-dark');
        document.querySelector('.navbar').classList.add('bg-light');
        document.querySelector('.navbar').classList.add('navbar-light');
        document.querySelector('.navbar').style = "border-bottom: 1px solid lightgray;"

    </script>