<% layout('layouts/boilerplate')%>

    <div class="container-fluid wrapper">

        <div class="container-fluid faqPhoto">
            <img src="/images/patterns/pattern2.png" alt="" class="img-fluid faqPhotoBackground">
            <!-- <img src="/images/collections/collection2.jpg" alt="" class="img-fluid faqPhotoBackground"> -->
            <div class="row faqPhotoCover">
                <div class="col-12 faqPicCol text-center">
                    <div class="coloredBg mx-auto"></div>
                    <div class="faqTitle">
                        <h2 class="faqTitleText">Here to help!</h2>
                        <h3 class="faqSubTitle">You have questions, we have answers.</h3>

                    </div>

                </div>
            </div>
        </div>

        <div class="container-fluid">

            <div class="row faqRowContacts mx-auto justify-content-center">
                <div class="col-12 text-center faqInfo">
                    <h3>Need Help?</h3>
                    <h4 class="mx-auto">Peruse a few of our most frequently asked questions below:</h4>
                </div>

                <div class="col-sm-4 faqEmailCol">
                    <div class="faqEmailWrap mx-auto w-100 p-0 m-0">
                        <div class="row w-100 h-100 m-0 p-0 align-content-center">

                            <div class="col-5 text-center faqDisplayIcon">
                                <!-- <i class="far fa-envelope faqIcon"></i> -->
                                <img src="/images/vector/email1.jpg" alt="" class="img-fluid illustration">
                            </div>

                            <div class="col-7 faqContactCol mx-auto my-auto text-center">
                                <a href="mailto:sales@unixo.com" class="faqClickable">Изпрати имейл</a>
                                <a href="mailto:sales@unixo.com" class="faqEmail">sales@unixo.com</a>
                            </div>

                            <div class="col-12 faqDisplayContact">
                                <!-- <i class="far fa-envelope faqIcon"></i> -->
                                <img src="/images/vector/email1.jpg" alt="" class="img-fluid illustration">

                                <a href="mailto:sales@unixo.com" class="faqClickable">Изпрати имейл</a>
                                <a href="mailto:sales@unixo.com" class="faqEmail">sales@unixo.com</a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-4 faqEmailCol">
                    <div class="faqEmailWrap mx-auto w-100 p-0 m-0">
                        <div class="row w-100 h-100 m-0 p-0 align-content-center">
                            <div class="col-5 text-center faqDisplayIcon">
                                <!-- <i class="fas fa-phone-alt faqIcon"></i> -->
                                <img src="/images/vector/call1.jpg" alt="" class="img-fluid illustration">
                            </div>
                            <div class="col-7 faqContactCol my-auto ">
                                <a href="tel:089 013 6562" class="faqClickable">Обади се</a>
                                <a href="tel:089 013 6562" class="faqEmail">089 013 6562</a>
                            </div>

                            <div class="col-12 faqDisplayContact">
                                <!-- <i class="fas fa-phone-alt faqIcon"></i> -->
                                <img src="/images/vector/call1.jpg" alt="" class="img-fluid illustration">
                                <a href="tel:089 013 6562" class="faqClickable">Обади се</a>
                                <a href="tel:089 013 6562" class="faqEmail">089 013 6562</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 faqEmailCol faqEmailCol3">
                    <div class="faqEmailWrap faqEmailWrap3 mx-auto w-100 p-0 m-0">
                        <div class="row w-100 h-100 m-0 p-0 align-content-center">
                            <div class="col-5 text-center faqDisplayIcon">
                                <!-- <i class="fab fa-facebook-messenger faqIcon"></i> -->
                                <img src="/images/vector/livechat5.png" alt="" class="img-fluid illustration">
                            </div>
                            <div class="col-7 faqContactCol my-auto">
                                <a href="http://m.me/Unixo-105150128420340/" class="faqClickable">Чат</a>
                                <a href="http://m.me/Unixo-105150128420340/" class="faqEmail">24/7 <span
                                        class="coloredGreen">Online</span></a>
                            </div>

                            <div class="col-12 faqDisplayContact">
                                <!-- <i class="fab fa-facebook-messenger faqIcon"></i> -->
                                <img src="/images/vector/livechat5.png" alt="" class="img-fluid illustration">
                                <a href="http://m.me/Unixo-105150128420340/" class="faqClickable">Чат</a>
                                <a href="http://m.me/Unixo-105150128420340/" class="faqEmail">24/7 <span
                                        class="coloredGreen">Online</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>










        <div class="container-fluid faqQA">
            <div class="row">
                <div class="col-12 faqQACol faqQACol1">
                    <div class="faqHeadings justify-content-between d-flex">
                        <h3 class="faqTopics my-auto">Доставка</h3>
                        <div class="plus-button1">
                            <div class="plus-icon"></div>
                        </div>
                        <!-- <a href="#" class="faqClose">&#x2715</a> -->
                    </div>
                    <div class="faqContent">
                        <h4 class="faqSubTopic">Shipping Rates & Options</h4>
                        <p class="faqAnswer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis
                            nesciunt debitis libero quaerat optio, rerum eveniet cupiditate provident dolorem dolore
                            voluptatem in iste reprehenderit exercitationem aspernatur quisquam expedita cumque fuga?
                        </p>

                        <h4 class="faqSubTopic">How do I track my order?</h4>
                        <p class="faqAnswer">Once your order is shipped, you should automatically receive an email
                            notification with your order's tracking number. You can also track your order by logging
                            into
                            your account, and viewing your past orders.</p>

                        <h4 class="faqSubTopic">Do you ship internationally?</h4>
                        <p class="faqAnswer">Yes we do. International shipments are shipped from our US warehouse, and
                            take
                            8-14 business days. Please see Shipping Rates & Options for details.</p>

                        <h4 class="faqSubTopic">Are there duties or taxes?</h4>
                        <p class="faqAnswer">We have local warehouses in the USA, Canada, and the UK, there'll be no
                            duties
                            for clients in those countries and certain countries in the EU. For international clients,
                            duties and taxes may apply and must be paid by the client upon delivery.</p>

                        <h4 class="faqSubTopic">Are there duties or taxes?</h4>
                        <p class="faqAnswer">We have local warehouses in the USA, Canada, and the UK, there'll be no
                            duties
                            for clients in those countries and certain countries in the EU. For international clients,
                            duties and taxes may apply and must be paid by the client upon delivery.</p>

                        <h4 class="faqSubTopic">What happens if I haven't recieved my package yet?</h4>
                        <p class="faqAnswer">If you've already checked your tracking, please first try to contact the
                            courier that shipped your order was shipped with along with your tracking number, and they
                            will
                            help you investigate and locate your package. If they're unable to assist, please contact us
                            and
                            we'll be happy to help.</p>

                    </div>
                </div>
                <div class="col-12 faqQACol faqQACol2">
                    <div class="faqHeadings faqHeadings2 d-flex justify-content-between">
                        <h3 class="faqTopics my-auto">Връщане</h3>
                        <div class="plus-button2">
                            <div class="plus-icon"></div>
                        </div>
                    </div>
                    <div class="faqContent">
                        <h4 class="faqSubTopic">Question 1?</h4>
                        <p class="faqAnswer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quos
                            magni
                            eligendi doloribus,
                            quod nisi necessitatibus delectus a.</p>

                        <h4 class="faqSubTopic">Question 2?</h4>
                        <p class="faqAnswer">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, ex
                            quibusdam
                            nostrum qui
                            laboriosam, maxime consequatur natus ratione cumque libero et velit dolorem iusto quasi ut
                            obcaecati. Atque, quaerat quisquam.Mollitia numquam possimus totam pariatur saepe voluptates
                            in
                            blanditiis quam reprehenderit dolorem..</p>

                        <h4 class="faqSubTopic">Question 3?</h4>
                        <p class="faqAnswer">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, ex
                            quibusdam
                            nostrum qui
                            laboriosam, maxime consequatur natus ratione cumque libero et velit dolorem iusto quasi ut
                            obcaecati. Atque, quaerat quisquam.</p>

                        <h4 class="faqSubTopic">Question 4?</h4>
                        <p class="faqAnswer">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, ex
                            quibusdam
                            nostrum qui
                            laboriosam, maxime consequatur natus ratione cumque libero et velit dolorem iusto quasi ut
                            obcaecati. Atque, quaerat quisquam.Mollitia numquam possimus totam pariatur saepe voluptates
                            in
                            blanditiis quam reprehenderit dolorem.</p>

                        <h4 class="faqSubTopic">Question 5?</h4>
                        <p class="faqAnswer">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, ex
                            quibusdam
                            nostrum qui
                            laboriosam, maxime consequatur natus ratione cumque libero et velit dolorem iusto quasi ut
                            obcaecati. Atque, quaerat quisquam.Mollitia numquam possimus totam pariatur saepe voluptates
                            in
                            blanditiis quam reprehenderit dolorem, animi.</p>

                    </div>
                </div>
                <div class="col-12 faqQACol faqQACol3">
                    <div class="faqHeadings justify-content-between d-flex">
                        <h3 class="faqTopics my-auto">Продукт</h3>
                        <div class="plus-button3">
                            <div class="plus-icon"></div>
                        </div>
                    </div>
                    <div class="faqContent">
                        <h4 class="faqSubTopic">Question 1?</h4>
                        <p class="faqAnswer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quos
                            magni
                            eligendi doloribus,
                            quod nisi necessitatibus delectus a.</p>

                        <h4 class="faqSubTopic">Question 2?</h4>
                        <p class="faqAnswer">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, ex
                            quibusdam
                            nostrum qui
                            laboriosam, maxime consequatur natus ratione cumque libero et velit dolorem iusto quasi ut
                            obcaecati. Atque, quaerat quisquam.Mollitia numquam possimus totam pariatur saepe voluptates
                            in
                            blanditiis quam reprehenderit dolorem..</p>

                        <h4 class="faqSubTopic">Question 3?</h4>
                        <p class="faqAnswer">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, ex
                            quibusdam
                            nostrum qui
                            laboriosam, maxime consequatur natus ratione cumque libero et velit dolorem iusto quasi ut
                            obcaecati. Atque, quaerat quisquam.</p>

                        <h4 class="faqSubTopic">Question 4?</h4>
                        <p class="faqAnswer">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, ex
                            quibusdam
                            nostrum qui
                            laboriosam, maxime consequatur natus ratione cumque libero et velit dolorem iusto quasi ut
                            obcaecati. Atque, quaerat quisquam.Mollitia numquam possimus totam pariatur saepe voluptates
                            in
                            blanditiis quam reprehenderit dolorem.</p>

                        <h4 class="faqSubTopic">Question 5?</h4>
                        <p class="faqAnswer">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, ex
                            quibusdam
                            nostrum qui
                            laboriosam, maxime consequatur natus ratione cumque libero et velit dolorem iusto quasi ut
                            obcaecati. Atque, quaerat quisquam.Mollitia numquam possimus totam pariatur saepe voluptates
                            in
                            blanditiis quam reprehenderit dolorem, animi.</p>
                    </div>
                </div>
                <div class="col-12 faqQACol faqQACol4 faqQAColLast">
                    <div class="faqHeadings justify-content-between d-flex">
                        <h3 class="faqTopics my-auto">Плащане</h3>
                        <div class="plus-button4">
                            <div class="plus-icon"></div>
                        </div>
                    </div>
                    <div class="faqContent">
                        <h4 class="faqSubTopic">Question 1?</h4>
                        <p class="faqAnswer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quos
                            magni
                            eligendi doloribus,
                            quod nisi necessitatibus delectus a.</p>

                        <h4 class="faqSubTopic">Question 2?</h4>
                        <p class="faqAnswer">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, ex
                            quibusdam
                            nostrum qui
                            laboriosam, maxime consequatur natus ratione cumque libero et velit dolorem iusto quasi ut
                            obcaecati. Atque, quaerat quisquam.Mollitia numquam possimus totam pariatur saepe voluptates
                            in
                            blanditiis quam reprehenderit dolorem..</p>

                        <h4 class="faqSubTopic">Question 3?</h4>
                        <p class="faqAnswer">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, ex
                            quibusdam
                            nostrum qui
                            laboriosam, maxime consequatur natus ratione cumque libero et velit dolorem iusto quasi ut
                            obcaecati. Atque, quaerat quisquam.</p>

                        <h4 class="faqSubTopic">Question 4?</h4>
                        <p class="faqAnswer">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, ex
                            quibusdam
                            nostrum qui
                            laboriosam, maxime consequatur natus ratione cumque libero et velit dolorem iusto quasi ut
                            obcaecati. Atque, quaerat quisquam.Mollitia numquam possimus totam pariatur saepe voluptates
                            in
                            blanditiis quam reprehenderit dolorem.</p>

                        <h4 class="faqSubTopic">Question 5?</h4>
                        <p class="faqAnswer">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, ex
                            quibusdam
                            nostrum qui
                            laboriosam, maxime consequatur natus ratione cumque libero et velit dolorem iusto quasi ut
                            obcaecati. Atque, quaerat quisquam.Mollitia numquam possimus totam pariatur saepe voluptates
                            in
                            blanditiis quam reprehenderit dolorem, animi.</p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="faqHrLast">
    </div>