<% layout('layouts/boilerplate')%>

    <div class="row cartImageRow m-0">
        <div class="col-12 cartImage p-0">
            <img src="/images/collections/resized/collection2_2.jpg" alt="" class="img-fluid">
        </div>
        <div class="cartImageHeader text-center">
            <h2>Unixo</h2>
            <h1>Кошница</h1>
        </div>
    </div>

    <div class="row orderFinished justify-content-center m-0">
        <div class="progress">
            <h3 class="progressH1">1. Overview</h3>
            <h3 class="progressH2" style="color: white; text-shadow: 1px 1px 1px black;">2. Delivery Options</h3>
            <h3 class="progressH3" style="color: white; text-shadow: 1px 1px 1px black;">3. Order Review</h3>
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>

        <div class="col-12 p-0 text-center">
            <h2 class="finishHeading1">Thank you!</h2>
            <h2 class="finishHeading2">Your order was completed successfully.</h2>
        </div>
        <hr>
        <div class="col-12 col-md-10 col-lg-8 text-center mt-3" style="padding: 10px;">
            <i class="far fa-envelope footerIcon envelopeIcon" style="font-size: 100px; margin-bottom: 40px;"></i>
            <p class="finishText text-center"> An email receipt including the
                details about your order has
                been sent to the email <br> address provided. Please keep it for your records</p>
        </div>
    </div>